/* ВНЕШНИЙ БЛОК */
#SAB_panel {
    position: fixed; /* положение */
    top: 100px; /* отступ сверху */
    right: 0; /* отступ слева */
    background: dimgray; /* цвет фона */
    width: 30px; /* ширина блока */
    height: 40px; /* высота блока */
    font: 14px Arial; /* размер и тип шрифта */
    color: #fff; /* цвет текста */
    text-align: center; /* выравнивание текста по центру */
    padding: 5px; /* отступы от границ внутри блока */

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 0 5px 5px 0; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    }

/* СКРЫТЫЙ БЛОК */
#SAB_hidden_panel {
    position: fixed; /* положение */
    top: 100px; /* отступ сверху */
    right: -220px; /* отступ слева */
    background: dimgray; /* цвет фона */
    color: #000; /* цвет текста */
    width: 200px; /* ширина блока */
    height: 150px; /* высота блока */
    padding: 10px; /* отступы от границ внутри блока */
    text-align: left; /* выравнивание текста */

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    /*-webkit-border-radius: 0 5px 5px 0;*/ /* закругление границ для всех браузеров*/
    /*-moz-border-radius: 0 5px 5px 0;*/
    /*border-radius: 0 5px 5px 0;*/
    }
#SAB_panel:hover {
    right: 220px; /* при наведении выдвигается на скрытые 200px + 20px отступы */
}
#SAB_panel:hover #SAB_hidden_panel {
    right: 0; /* отступ слева */
}
