/* БЛОК */
#SAB_panel {
    position: fixed; /* положение */
    top: 100px; /* отступ сверху */
    right: -40px; /* отступ справа */
    background: dimgray; /* цвет фона */
    width: 45px; /* ширина блока */
    height: 70px; /* высота блока */
    font: 14px Arial; /* размер и тип шрифта */
    color: white; /* цвет текста */
    text-align: center; /* выравнивание текста по центру */
    padding: 5px; /* отступы от границ внутри блока */
    z-index: 2000;

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 5px 0 0 5px; /* закругление границ для всех браузеров*/
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    }

#SAB_panel:hover {
    right: 0px; /* при наведении выдвигается */
}
