/* ВНЕШНИЙ БЛОК */
#SAB_panel {
    position: fixed; /* положение */
    top: 100px; /* отступ сверху */
    right: 0; /* отступ справа */
    background: dimgray; /* цвет фона */
    width: 30px; /* ширина блока */
    height: 40px; /* высота блока */
    font: 14px Arial; /* размер и тип шрифта */
    color: white; /* цвет текста */
    text-align: center; /* выравнивание текста по центру */
    margin:0;
    padding: 5px; /* отступы от границ внутри блока */
    z-index: 2000;

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 5px 0 0 5px; /* закругление границ для всех браузеров*/
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    }

/* СКРЫТЫЙ БЛОК */
#SAB_hidden_panel {
    position: fixed; /* положение */
    top: 100px; /* отступ сверху */
    right: -120px; /* отступ справа */
    background: dimgray; /* цвет фона */
    color: white; /* цвет текста */
    width: 100px; /* ширина блока */
    height: 150px; /* высота блока */
    margin:0;
    padding: 10px; /* отступы от границ внутри блока */
    text-align: left; /* выравнивание текста */
    z-index: 2000;

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    /*-webkit-border-radius: 0 5px 5px 0;*/ /* закругление границ для всех браузеров*/
    /*-moz-border-radius: 0 5px 5px 0;*/
    /*border-radius: 0 5px 5px 0;*/
    }
#SAB_panel:hover {
    right: 120px; /* при наведении выдвигается на скрытые 200px + 20px отступы */
}
#SAB_panel:hover #SAB_hidden_panel {
    right: 0; /* отступ слева */
}

/* ССЫЛКИ */
   A.SUB_link { 
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    padding:0;
    margin:0;
   } 
   A.SUB_link:visited { 
       text-decoration: none; 
       color: gray;
       padding:0;
       margin:0;
    } 
   A.SUB_link:active { 
       text-decoration: none; 
       color: gray;
       padding:0;
       margin:0;
    }
   A.SUB_link:hover {
       text-decoration: none; /* Делает ссылку подчеркнутой при наведении на нее курсора */
       color: white; /* Цвет ссылки */
       padding:0;
       margin:0;
    } 
